h1 Login
form(method="POST")
  label(for="email") Email
  input(type="email" name="email" placeholder="E.g. john@example.com")
  label(for="password") Password
  input(type="password" name="password" placeholder="************")
  input(type="submit" value="Submit")